pandas
numpy
lmdb
tensorboardX
tensorflow==2.2.0
tensorpack
tqdm
easydict
PyYAML
jsonlines
json-lines
matplotlib
Cython
msgpack
msgpack-numpy
botocore
pytorch-transformers==1.1.0
pycocotools
sklearn
jieba
git+https://github.com/facebookresearch/fvcore.git
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
git+https://github.com/sunzeyeah/detectron2.git
cython
opencv-python